<% layout('/layouts/boilerplate') -%>
<%-include("../includes/filter.ejs")%>
    <div class="row row-cols-md-2 row-cols-lg-3 row-cols-sm-1 row-cols-xm-1 fa-1x center">
        <% for(let list of allList){ %>
            <a href="/listing/<%=list._id%>" class="card-a">
                <div class="card col listingcard">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="images" style="height:20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <b><p class="card-text"><%=list.title%></p></b>
                        <p class="card-text">&#8377;
                            <%=list.price.toLocaleString("en-IN")%> / night
                            <i class="tax-info">&nbsp; &nbsp; &nbsp +18GST</i>
                        </p>
                        
                    </div>
                </div>
            </a>
         <% } %>
    </div>

<div class="chatbot-icon" id="chatbot-icon">
    <i class="fa-brands fa-rocketchat" style="color: #fe0b30;"></i>
</div>

<div class="chatbot-window" id="chatbotWindow">
    <div class="chatbot-header">
        <div>Ask me </div>
        <div class="close-btn sm" id="closeChatbot">&times;</div>
    </div>

    <div class="chatbot-body">
        
        
        <div class="chats">
            <div class="AI-message">Welcome to the chatbot! How can I assist you?</div>
            <div class="user-message">what is travels?</div>
             <div class="AI-message ">Travel is the movement of people between distant geographical locations. 
                Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, 
                ship or other means, with or without luggage, and can be one way or round trip
             </div>
        </div>


        <form class="row g-3 chatbot-form" method="post" action= '/chat'>
            <div  class="col-auto h-25">
            <input type="text" placeholder="Type Message" class=" form-control input-sm h-25"  name="message" >
            </div>
            <div class="col-auto">
            <button type="submit" class="btn chatbot-btn btn-sm">Send</button>
            </div>
        </form>
    </div>
   
</div>

<script src="/js/chatbot.js"></script>    