<% layout('/layouts/boilerplate') -%>
<%-include("../includes/filter.ejs")%>
    <div class="row row-cols-md-2 row-cols-lg-3 row-cols-sm-1 row-cols-xm-1 fa-1x center">
        <% for(let list of allList){ %>
            <a href="/listing/<%=list._id%>" class="card-a">
                <div class="card col listingcard">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="images" style="height:20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <b><p class="card-text"><%=list.title%></p></b>
                        <p class="card-text">&#8377;
                            <%=list.price.toLocaleString("en-IN")%> / night
                            <i class="tax-info">&nbsp; &nbsp; &nbsp +18GST</i>
                        </p>
                        
                    </div>
                </div>
            </a>
         <% } %>
    </div>

<div class="chatbot-icon" id="chatbot-icon">
    <i class="fa-brands fa-rocketchat" style="color: #fe0b30;"></i>
</div>

<!-- Chatbot Window (Initially Hidden) -->
<div class="chatbot-window" id="chatbotWindow">
    <div class="chatbot-header">
        <h3>Chat with us</h3>
        <span class="close-btn" id="closeChatbot">&times;</span>
    </div>
    <div class="chatbot-body">
        <p>Welcome to the chatbot! How can I assist you?</p>
    </div>
</div>

<script src="/js/chatbot.js"></script>    